<!--The content below is only a placeholder and can be replaced.-->
<div id="defaultToast">
    <ejs-toast #defaultToast id='defaulttoast' [position]="position1"   (close)="onClose($event)" icon="e-meeting">
      <ng-template #content>
          <div>A new user logged in to the account</div>
      </ng-template>
      <ng-template #title>
          <div>User Loggedin</div>
      </ng-template>            
    </ejs-toast>
    <app-navbar></app-navbar>
    <div class="container">
    <app-alert></app-alert>
    <router-outlet></router-outlet>
    </div>
<div>

